# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java
5. SQL
6. C/C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tensorflow
4. Matplotlib
5. Scipy
6. Seaborn
7. Keras

|Data Science Tools|
|:-----------------:|
|Tensorflow|
|MongoDB|
|Apache Spark Sql|"

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
a=5
b=6
print(a+b)
print(a-b)
print(a*b)

11
-1
30

## This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [12]:
a= 200
b= 60
print((a/b))

3.3333333333333335

**Objectives:**
* Python
* R
* Sql

## Author
Sumita